accelerate
aiohappyeyeballs
aiohttp
aiosignal
altgraph
annotated-types
antlr4-python3-runtime
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
Brotli
cached-property
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cryptography
cycler
datasets
debugpy
decorator
defusedxml
dill
docker-pycreds
et_xmlfile
eval_type_backport
exceptiongroup
executing
fastjsonschema
filelock
fonttools
fqdn
frozenlist
fsspec
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
h11
h2
hf-xet
hpack
httpcore
httplib2
httpx
httpx-sse
huggingface_hub
hyperframe
idna
importlib_metadata
ipykernel
ipython
ipython_pygments_lexers
isoduration
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyter-events
jupyter-lsp
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
kiwisolver
lark
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mcp
mdurl
mistune
mpmath
multidict
multiprocess
munkres
narwhals
nbclient
nbconvert
nbformat
nest_asyncio
networkx
notebook
notebook_shim
notion-client
numpy
omegaconf
openpyxl
overrides
packaging
pandas
pandocfilters
parso
patsy
pefile
pickleshare
pillow
pip
platformdirs
plotly
prometheus_client
prompt_toolkit
propcache
proto-plus
protobuf
psutil
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydantic-settings
Pygments
pyinstaller
pyinstaller-hooks-contrib
PyJWT
pyOpenSSL
pyparsing
PySide6
PySocks
python-dateutil
python-dotenv
python-json-logger
python-multipart
pytz
pyu2f
PyYAML
pyzmq
referencing
regex
requests
rfc3339_validator
rfc3986-validator
rfc3987-syntax
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
seaborn
Send2Trash
sentry-sdk
setproctitle
setuptools
shellingham
shiboken6
six
smmap
sniffio
soupsieve
sse-starlette
stack_data
starlette
statsmodels
sympy
terminado
threadpoolctl
tinycss2
tokenizers
tomli
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
typer
typing_extensions
typing-inspection
typing_utils
tzdata
unicodedata2
uri-template
uritemplate
urllib3
uvicorn
wandb
wcwidth
webcolors
webencodings
websocket-client
wheel
win_inet_pton
xxhash
yarl
zipp
zstandard
